@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --theme-toggle-bg: 0, 0, 0, 0.4;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 85%;
    --input: 240 5.9% 90%;
    --radius: 0.5rem;
    --primary-highlight: 331.2 97.3% 55.9%;
    --primary-highlight-foreground: 0 0% 100%;

    /* Root page */
    --paragraph-color: hsl(0, 0%, 15%);
    --primary-accent: 39, 252, 174;
    --code-border: rgba(228, 228, 231, 1);
    --inline-code-foreground: rgb(39, 252, 174);
    --inline-code-background: rgb(245, 245, 245);
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 6.3%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --theme-toggle-bg: 255, 255, 255, 0.4;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 20%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --primary-highlight: 331.2 97.3% 55.9%;
    --primary-highlight-foreground: 0 0% 100%;

    /* Root page */
    --paragraph-color: #d4d4d8;
    --primary-accent: 39, 252, 174;
    --code-border: rgba(39, 39, 42, 1);
    --inline-code-foreground: rgb(39, 252, 174);
    --inline-code-background: rgb(26, 27, 38);
  }
}

.theme-toggle-group {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
  width: fit-content;

  .theme-toggle {
    border-radius: 4rem;
    width: 1.5rem;
    height: 1.5rem;
    color: hsl(var(--foreground) / 50%);
  }
}

.theme-toggle.active {
  background-color: hsl(var(--foreground) / 50%);
  color: hsl(var(--background));

  &:hover {
    background-color: hsl(var(--foreground) / 50%);
    color: hsl(var(--background));
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-variant-ligatures: none;
    font-feature-settings:
      'liga' 0,
      'clig' 0,
      'calt' 0;
    -webkit-font-smoothing: antialiased; /* macOS and iOS (WebKit) smoothing */
    -moz-osx-font-smoothing: grayscale; /* macOS (Firefox) smoothing */
    font-smooth: always; /* fallback smoothing */
    font-smooth: antialiased; /* fallback smoothing */
  }
}

mark {
  color: hsl(var(--primary-highlight-foreground));
  border-radius: 0.25rem;
  padding: 0.2rem;
  margin: 0 0.05rem;
  background-color: hsl(var(--primary-highlight));
  font-weight: 500;
}

.lightbulb-toggle {
  position: relative;
  top: -4rem;
  margin-left: 0.3rem;
  cursor: grab;
  opacity: 0.6;

  .pull-cord {
    transform-origin: 50% 0%;
    position: absolute;
    top: 76px;
    left: 12px;
    cursor: grab;
  }

  &:active {
    cursor: grabbing;

    .pull-cord {
      cursor: grabbing;
      top: 81px;
    }
  }
}

.inner-docs-nav {
  .lightbulb-toggle {
    position: absolute;
    right: 1rem;
    top: -48px;
  }
}

.swing-cord {
  animation: pullCordSwingDampen 2s ease-in-out forwards;
}

@keyframes pullCordSwingDampen {
  0% {
    transform: rotate(12deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(8deg);
  }
  30% {
    transform: rotate(-6deg);
  }
  40% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  60% {
    transform: rotate(2deg);
  }
  70% {
    transform: rotate(-1deg);
  }
  80% {
    transform: rotate(0.5deg);
  }
  90% {
    transform: rotate(-0.25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.new-badge {
  color: hsl(var(--primary-highlight));
  border-color: hsl(var(--primary-highlight));
}

.search-shortcut {
  display: flex;
}

.dialog-container {
  width: calc(100vw - 4rem);
  top: 4rem !important;
}

.footer-container {
  color: hsl(var(--foreground) / 50%);
  font-size: 0.875rem;
}

.footer-container .copyright {
  margin-bottom: 1rem;
}

.footer-container .footer-text-link:hover {
  color: hsl(var(--foreground));
}

.social-links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.social-links a {
  display: block;
  height: 1.5rem;
  width: 1.5rem;
  color: hsl(var(--foreground) / 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links a:hover {
  color: hsl(var(--foreground));
}

.mobile-menu-social-links .github-discord-mobile {
  margin-left: auto;
  margin-right: 1.4rem;
  display: flex;
  gap: 0.5rem;
}

.mobile-sheet {
  overflow-y: scroll;
}

.prose {
  margin: 0 !important;
}

.prose
  aside
  :where(h3):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  margin-top: 0.75rem;
}

.prose code {
  color: hsl(var(--primary-highlight)) !important;
  font-weight: 400;
  border-radius: 0.5rem !important;
  padding-left: 0.3rem !important;
  padding-right: 0.3rem !important;
}

.prose .note-container code {
  color: var(--foreground) !important;
}

.prose pre code {
  color: unset !important;
  border-radius: unset !important;
  padding-left: unset !important;
  padding-right: unset !important;
}

.note-container {
  scroll-margin: 5rem;
}

.note-heading-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.note-heading-container > .heading-link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.note-heading-container > .heading-link::after {
  position: static;
}

.note-heading {
  font-size: 0.875rem;
  font-weight: 800;
}

.note-emoji {
  font-size: 1.25rem;
}

.note-aside p {
  margin: 0 0 1.25rem;
  line-height: 1.5;
}

.note-aside p:last-child {
  margin-bottom: 0;
}

.note-aside h3 {
  margin-top: 0;
}

/* Syntax highlighting */

/* Dark Mode */
:root.dark .keyword {
  color: #ff79c6;
}

:root.dark .function {
  color: #27fcae;
  /* Sky Blue */
}

:root.dark .string,
:root.dark .constant,
:root.dark .annotation {
  color: #f1fa8c;
}

:root.dark .boolean {
  color: #bd93f9;
}

:root.dark .number {
  color: #ffb86c;
}

:root.dark .tag {
  color: #bd93f9;
}

:root.dark .attr-name {
  color: #8be9fd;
}

:root.dark .attr-value {
  color: #ffb86c;
}

/* Light Mode */
.keyword {
  color: #fc218a;
}

.function {
  color: #19ad68;
  /* Sky Blue */
}

.string,
.constant,
.annotation {
  color: #be9f17;
}

.boolean {
  color: #6f42c1;
}

.number {
  color: #fd7e14;
}

.tag {
  color: #2b3287;
}

.attr-name {
  color: #0d6efd;
}

.attr-value {
  color: #fd7e14;
}

.prose pre {
  padding: 0 !important;
  width: inherit !important;
  overflow-x: visible;
}

.prose pre > code {
  display: grid;
  max-width: inherit !important;
  padding: 14px 0 !important;
  font-variant-ligatures: none;
  font-feature-settings:
    'liga' 0,
    'clig' 0,
    'calt' 0;
  overflow-x: auto;
}

.code-line {
  padding: 0.75px 12.5px;
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  margin-right: 22px;
  margin-left: -2px;
  color: rgb(110, 110, 110);
  content: attr(line);
  font-size: 13.5px;
  text-align: right;
}

.highlight-line {
  @apply dark:bg-neutral-800/90;
  @apply bg-neutral-200/90;
}

.punctuation {
  color: #6272a4;
}

.comment {
  color: #6272a4;
}

.rehype-code-title {
  @apply px-2;
  @apply -mb-8;
  @apply w-full;
  @apply text-sm;
  @apply pt-1;
  @apply pb-5;
  @apply font-normal;
  @apply tracking-wider;
  @apply font-medium;
  font-family: var(--font-code) !important;
}

.highlight-comp > code {
  background-color: transparent !important;
}

.prose a {
  font-weight: 400;
}

.prose summary {
  cursor: pointer;
}

.prose a.button-link,
.prose a.heading-link {
  text-decoration: none;
}

.heading-link {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.heading-link::after {
  content: '';
  position: absolute;
  right: -1.3rem;
  top: 0.5rem;
  display: block;
  height: 0.875rem;
  width: 0.875rem;
  opacity: 0;
  background: transparent url(/images/heading-link.svg) no-repeat center center;
  transition: opacity 0.2s;
}

html.dark .heading-link::after {
  background: transparent url(/images/heading-link-darkmode.svg) no-repeat
    center center;
}

h3 .heading-link::after {
  top: 0.32rem;
}

.heading-link:hover::after {
  opacity: 1;
}

pre .copy-button {
  opacity: 0;
}

pre:hover .copy-button {
  opacity: 1;
}

.copy-button {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  background-color: rgba(60, 60, 60, 1);
  color: white;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.75rem;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease;
  z-index: 10;
}

pre .copy-button:hover {
  opacity: 1;
}

.has-copy-button {
  position: relative;
  padding-top: 2rem; /* Ensure space for the button */
}

/* Home code block */

.hljs-keyword {
  color: #fc218a;
  font-weight: 700;
}

.hljs-title {
  color: #19ad68;
  font-weight: 700;
}

.hljs-built_in {
  color: rgb(0, 132, 161);
}

.hljs-comment {
  color: #6272a4;
}

.hljs-string {
  color: #be9f17;
}

.hljs-number {
  color: rgb(189, 147, 249);
}

.hljs-name {
  color: #be9f17;
  font-weight: 700;
}

.hljs-attr {
  color: #19ad68;
}

html.dark {
  .hljs-keyword {
    color: rgb(255, 121, 198);
    font-weight: 700;
  }

  .hljs-title {
    color: rgb(39, 252, 174);
    font-weight: 700;
  }

  .hljs-built_in {
    color: rgb(139, 233, 253);
  }

  .hljs-comment {
    color: rgb(98, 114, 164);
  }

  .hljs-string {
    color: rgb(241, 250, 140);
  }

  .hljs-number {
    color: rgb(189, 147, 249);
  }

  .hljs-name {
    color: rgb(241, 250, 140);
    font-weight: 700;
  }

  .hljs-attr {
    color: rgb(39, 252, 174);
  }
}

/* Home fullscreen image container */
.fullscreenContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.96);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

@media (max-width: 520px) {
  .lightbulb-toggle {
    position: fixed;
    top: 0;
    right: 1rem;
  }
}

@media (max-width: 1036px) {
  .fullscreenContainer {
    justify-content: flex-start;
    overflow-y: auto;
  }
}
