@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-variant-ligatures: none;
    font-feature-settings: "liga" 0, "clig" 0, "calt" 0;
    -webkit-font-smoothing: antialiased; /* macOS and iOS (WebKit) smoothing */
    -moz-osx-font-smoothing: grayscale; /* macOS (Firefox) smoothing */
    font-smooth: always; /* fallback smoothing */
    font-smooth: antialiased; /* fallback smoothing */
  }
}

.prose {
  margin: 0 !important;
}

.prose
  aside
  :where(h3):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0.75rem;
}

code {
  color: #27fcae !important;
  border-radius: 0.5rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

pre code {
  color: unset !important;
  border-radius: unset !important;
  padding-left: unset !important;
  padding-right: unset !important;
}

/* Syntax highlighting */

/* Dark Mode */
.keyword {
  color: #ff79c6;
}

.function {
  color: #27fcae;
  /* Sky Blue */
}

.string,
.constant,
.annotation {
  color: #f1fa8c;
}

.boolean {
  color: #bd93f9;
}

.number {
  color: #ffb86c;
}

.tag {
  color: #bd93f9;
}

.attr-name {
  color: #8be9fd;
}

.attr-value {
  color: #ffb86c;
}

pre {
  padding: 0 !important;
  width: inherit !important;
  overflow-x: auto;
}

pre > code {
  display: grid;
  max-width: inherit !important;
  padding: 14px 0 !important;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0, "clig" 0, "calt" 0;
}

.code-line {
  padding: 0.75px 12.5px;
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  margin-right: 22px;
  margin-left: -2px;
  color: rgb(110, 110, 110);
  content: attr(line);
  font-size: 13.5px;
  text-align: right;
}

.highlight-line {
  @apply dark:bg-neutral-800/90;
  @apply bg-neutral-200/90;
}

.punctuation {
  color: #6272a4;
}

.comment {
  color: #6272a4;
}

.rehype-code-title {
  @apply px-2;
  @apply -mb-8;
  @apply w-full;
  @apply text-sm;
  @apply pt-1;
  @apply pb-5;
  @apply font-normal;
  @apply tracking-wider;
  @apply font-medium;
  font-family: var(--font-code) !important;
}

.highlight-comp > code {
  background-color: transparent !important;
}

pre .copy-button {
  opacity: 0;
}

pre:hover .copy-button {
  opacity: 0.8;
}

.copy-button {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.75rem;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

pre .copy-button:hover {
  opacity: 1;
}

.has-copy-button {
  position: relative;
  padding-top: 2rem; /* Ensure space for the button */
}
